# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.venv/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# Byte-compiled / cache
*.pyc

# Telegram Bot resumes
resumes/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
